name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    name: Build & Test & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint || echo "Lint skipped"

      - name: Run Tests
        run: npm test

      - name: Code coverage
        run: npm run coverage  || echo "Coverage skipped"

      - name: SonarQube Analysis
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectKey: ${{ secrets.SONAR_PROJECT_KEY }}
          organization: ${{ secrets.SONAR_ORG }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker:
    name: Docker Build & Publish
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get version from tag
        id: version
        run: |

          VERSION=$(git describe --tags --abbrev=0 || echo "v0.0.1")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
         
          docker build -t bm106/k8s-gitops-nodejs:${{ env.VERSION }} -t bm106/k8s-gitops-nodejs:latest .
        
          


      - name: Push Docker Image
        run: |
          docker push bm106/k8s-gitops-nodejs:${{ env.VERSION }}
          docker push bm106/k8s-gitops-nodejs:latest

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          draft: false
          prerelease: false

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: docker-image-info
          path: |
            Dockerfile
            package.json
