name: Production Deployment

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker-production:
    name: Build & Push Docker Production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get version from tag
        id: version
        run: |
          VERSION=${GITHUB_REF_NAME#refs/tags/}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t bm106/k8s-gitops-nodejs:${{ env.VERSION }} -t bm106/k8s-gitops-nodejs:latest .
          docker push bm106/k8s-gitops-nodejs:${{ env.VERSION }}
          docker push bm106/k8s-gitops-nodejs:latest

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@v1
        with:
          image-ref: bm106/k8s-gitops-nodejs:${{ env.VERSION }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          draft: false
          prerelease: false
