name: Production Deployment

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker-production:
    name: Build & Push Docker Production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set version
        run: echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t bm106/k8s-gitops-nodejs:${{ env.VERSION }} -t bm106/k8s-gitops-nodejs:latest .
      
      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bm106/k8s-gitops-nodejs:${{ env.VERSION }}

      - name: Push Docker Image
        run: |
          docker push bm106/k8s-gitops-nodejs:${{ env.VERSION }}
          docker push bm106/k8s-gitops-nodejs:${{ env.VERSION }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          draft: false
          prerelease: false
