name: Staging Deployment

on:
  push:
    branches:
      - development

jobs:
  docker-staging:
    name: Build & Push Docker Staging
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - run: |
          docker build -t myorg/myapp:staging .
          docker push myorg/myapp:staging
