name: Staging Deployment

on:
  push:
    branches:
      - development
  pull_request: 
    branches: 
      - main    

jobs:
  docker-staging:
    name: Build & Push Docker Staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get version from tag
        id: version
        run: |
          VERSION=$(git describe --tags --abbrev=0 || echo "v0.0.1")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t bm106/k8s-gitops-nodejs:staging -t bm106/k8s-gitops-nodejs:${{ env.VERSION }} .
          docker push bm106/k8s-gitops-nodejs:staging
          docker push bm106/k8s-gitops-nodejs:${{ env.VERSION }}

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bm106/k8s-gitops-nodejs:staging
